[submodule "libs/duckx"]
	path = libs/duckx
	url = https://github.com/amiremohamadi/DuckX
[submodule "libs/minizip"]
	path = libs/minizip
	url = https://github.com/nmoinvaz/minizip
[submodule "libs/xlsxio"]
	path = libs/xlsxio
	url = https://github.com/brechtsanders/xlsxio
